body {
  background-color: #212121;
}
h3 {
	text-align: center;
  font-family: Ubuntu;
	 font-weight: bold;
  padding-bottom: 8px;
  font-size:36px;
	 color: #d50000;
  text-shadow: 2px 3px 3px #000000;
}
p {
  font-family: Quintessential;
  font-size: 22px;
  color: #008b8b;
}
#wrapper { 
    background-color: #171d22;
    color: #000000;
    width: 80%;
    min-width: 900px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    padding-top: 25px;
    box-shadow: 1px 1px 16px 10px #000000, 1px -1px 16px 10px #000000;
}