h3
{
  text-align: center;
  font-family: Ubuntu;
  padding-bottom: 8px;
  font-size:32px;
  font-weight: normal;
  color: #d50000;
  text-shadow: 4px 4px 6px #000000;
}

h4
{
  text-align: center;
  font-family: Mirza;
  padding-bottom: 2px;
  font-size:28px;
  text-decoration: underline;
  color: #c0c0c0;
  text-shadow: 2px 2px 4px #000000;
}

p
{
  font-family: Mirza;
  font-size: 26px;
  color: #c0c0c0;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

#wrapper
{ 
  background-color: #171d22;
  color: #000000;
  width: 80%;
  min-width: 900px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  padding-top: 25px;
  box-shadow: 1px 1px 16px 10px #000000, 1px -1px 16px 10px #000000;
}