body {
  background-color: #212121;
}
h3 {
  text-align: center;
  font-family: Amarante;
  font-weight: normal;
  padding-bottom: 8px;
  font-size:40px;
  color: #d50000;
  text-shadow: 2px 3px 3px #000000;
}
h4 {
  text-align: left;
  font-family: Oregano;
  font-size: 28px;
  font-weight: normal;
  padding-left: 5px;
  color: #5fa4c4;
  text-shadow: 2px 3px 3px #000000;
}
h5 {
  text-align: left;
  font-family: Mirza;
  font-size: 28px;
  font-weight: normal;
  padding-left: 5px;
  color: #5fa4c4;
  text-shadow: 2px 3px 3px #000000;
}
p {
  text-align: center;
  font-family: Mirza;
  font-size: 20px;
  color: #d50000;
  text-shadow: 1px 2px 2px #000000;
}
#wrapper { 
  background-color: #171d22;
  color: #000000;
  width: 80%;
  min-width: 900px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  padding-top: 25px;
  box-shadow: 1px 1px 16px 10px #000000, 1px -1px 16px 10px #000000;
}